* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #8b6c8b;
}

.bb8 .head {
    width: 210px;
    height: 120px;
    background-color: #fff1ea;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: relative;
}

.bb8 .head .eye {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    inset: 0;
    left: -40px;
    bottom: -10px;
    background-color: #2f3a2f;
    border: 5px solid #fff1ea;
}

.bb8 .head .eye::before {
    content: "";
    width: 75%;
    height: 75%;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    inset: 0;
}

.bb8 .head .eye::after {
    content: "";
    width: 20%;
    height: 20%;
    background-color: #e4e4e4;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 10px;
    right: 10px;
}

.bb8 .head .details {
    width: 210px;
    height: 120px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: absolute;
    overflow: hidden;
}

.bb8 .head .details .detail:first-child {
    width: 100%;
    height: 13px;
    background-color: #cdd4dc;
    position: absolute;
    top: 15px;
}

.bb8 .head .details .detail:nth-child(2) {
    width: 100%;
    height: 10px;
    background-color: #ff9543;
    position: absolute;
    top: 50px;
}

.bb8 .head .details .detail:nth-child(3) {
    width: 15px;
    height: 15px;
    background-color: #ff9543;
    position: absolute;
    bottom: 10px;
    box-shadow: 10px 0 #ff9543, 20px 0 #ff9543, 30px 0 #ff9543, 150px 0 #ff9543,
        175px 0 #ff9543, 190px 0 #ff9543, 200px 0 #ff9543;
}

.bb8 .head::before {
    content: "";
    width: 215px;
    height: 15px;
    position: absolute;
    margin: auto;
    left: -4px;
    bottom: -15px;
    background-color: #d7d3d4;
    clip-path: polygon(1.5% 0, 99.5% 0, 100% 100%, 0% 100%);
}

.bb8 .head::after {
    content: "";
    width: 215px;
    height: 15px;
    position: absolute;
    margin: auto;
    left: -4px;
    bottom: -30px;
    background-color: #c2bbb5;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
}

.bb8 .head .antennas .antenna {
    width: 5px;
    height: 40px;
    background-color: #c9dbdb;
    position: absolute;
    margin: auto;
    left: 0;
    right: -30px;
    top: -35px;
    z-index: -1;
}

.bb8 .head .antennas .antenna:last-child {
    top: -25px;
    right: -5px;
}

.bb8 .head .antennas .antenna::before {
    content: "";
    width: 10px;
    height: 15px;
    position: absolute;
    background-color: #bfbfbd;
    bottom: 0;
    left: -50%;
    border-radius: 10px 10px 0 0;
}
