* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup {
    width: 350px;
    height: 350px;
    border: 6px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup .inside {
    width: 90%;
    height: 90%;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
}