* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup {
    width: 350px;
    height: 350px;
    border: 6px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup .inside {
    width: 90%;
    height: 90%;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    background-color: #A67A53;
}

.tea-cup .handle {
    width: 50px;
    height: 60px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    position: absolute;
    border-radius: 20px 20px 0 0;
    top: -7px;
    right: 7px;
    transform: rotate(45deg);
}