* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup {
    width: 350px;
    height: 350px;
    border: 6px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tea-cup .inside {
    width: 90%;
    height: 90%;
    border: 5px solid black;
    border-radius: 50%;
    position: relative;
    background-color: #A67A53;
    overflow: hidden;
}

.tea-cup .handle {
    width: 50px;
    height: 60px;
    border-top: 6px solid black;
    border-left: 6px solid black;
    border-right: 6px solid black;
    position: absolute;
    border-radius: 20px 20px 0 0;
    top: -7px;
    right: 7px;
    transform: rotate(45deg);
}

.tea-cup .inside .main-shadow {
    transform: rotate(45deg);
}

.tea-cup .inside .main-shadow .shadow:nth-child(1){
    background-color: #734C23;
    width: 80%;
    height: 160px;
    border-radius: 0% 86% 73% 0% / 10% 61% 92% 58% ;
    transform: translateY(-40px);
}

.tea-cup .inside .main-shadow .shadow:nth-child(2){
    background-color: #734C23;
    width: 80%;
    height: 130px;
    border-radius: 0% 86% 83% 0% / 10% 97% 92% 10%;
    position: absolute;
    transform: translateY(-5px);
}

.tea-cup .inside .main-shadow .gambiarra{
    background-color: #734C23;
    width: 155px;
    height: 50px;
    position: absolute;
    transform: translate(0, -45px);
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tea-cup .inside .main-shadow .gambiarra div {
    width: 30px;
    height: 42px;
    background-color: #A67A53;
    position: absolute;
    right: -17px;
    top: 0px;
    border-radius: 50% ;
    transform: rotate(180deg);
}