* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3cc2ef;
    --red: #ed6077;
    --border: #2e2727;
    --buttons: #585c6b;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9d6b2;
}

.switch {
    width: 600px;
    height: 300px;
    position: relative;
    display: flex;
}

.switch::before {
    content: "";
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.103);
    position: absolute;
    bottom: -60px;
    border-radius: 50%;

}

.joycon-left,
.joycon-right {
    width: 100px;
    height: 280px;
    background-color: var(--blue);
    display: inline-block;
    border: 3px solid var(--border);
    position: relative;
    box-shadow: inset 5px 5px #ffffff50,
                inset 10px 0 #FFFFFF30,
                inset -20px 0 #00000010;
}

.joycon-right {
    background-color: var(--red);

}

.joycon-left {
    border-radius: 50px 0 0 50px;
}

.joycon-right {
    border-radius: 0 50px 50px 0;
}

.analog {
    width: 50px;
    height: 50px;
    background-color: var(--buttons);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    border: 3px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.joycon-right .analog {
    top: 0;
    bottom: 0;
}

.analog::before,
.analog::after {
    content: "";
    width: 42px;
    height: 3px;
    background-color: var(--border);
    position: absolute;
}

.analog::after {
    transform: rotate(90deg);
}

.analog .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--buttons);
    border: 3px solid var(--border);
    box-shadow: inset 3px 3px #ffffff5b;
    z-index: 1;
}

.action-buttons {
    width: 70px;
    height: 70px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joycon-left .action-buttons {
    top: 0;
    bottom: 0;
}

.joycon-right .action-buttons {
    top: 20px;
}

.action-buttons button {
    width: 25px;
    height: 25px;
    background-color: var(--buttons);
    border-radius: 50%;
    border: 3px solid var(--border);
    position: absolute;
    color: #f1f1f1;
    font-weight: 800;
}

.action-buttons button:nth-child(1) {
    top: 3px;
}

.action-buttons button:nth-child(2) {
    right: 3px;
}

.action-buttons button:nth-child(3) {
    left: 3px;
}

.action-buttons button:nth-child(4) {
    bottom: 3px;
}

.joycon-left .action-buttons button::after {
    content: "\25B2";
    color: var(--border);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.joycon-left .action-buttons button:nth-child(2):after {
    transform: rotate(90deg);
}

.joycon-left .action-buttons button:nth-child(3):after {
    transform: rotate(-90deg);
}

.joycon-left .action-buttons button:nth-child(4):after {
    transform: rotate(180deg);
}

.joycon-left span,
.joycon-right span {
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    text-shadow: 0 1px 0 #00000023;
    top: 5px;
    color: var(--border);
}

.joycon-left span {
    right: 10px;
}

.joycon-right span {
    left: 10px;
}

.square-button,
.home-button {
    width: 20px;
    height: 20px;
    background-color: var(--buttons);
    position: absolute;
    border: 3px solid var(--border);
    bottom: 50px;
}

.square-button {
    right: 10px;
}

.home-button {
    left: 10px;
    border-radius: 50%;
}

.joycon-left::before,
.joycon-right::before {
    content: "";
    width: 80px;
    height: 50px;
    background-color: var(--buttons);
    position: absolute;
    top: -6px;
    border: 2px solid var(--border);
    z-index: -1;
}

.joycon-left::before {
    left: -6px;
    border-radius: 50px 0;
}

.joycon-right::before {
    right: -6px;
    border-radius: 0 50px;
}

.screen {
    display: inline-block;
    width: 400px;
    height: 280px;
    background: linear-gradient(0deg, rgba(60,194,239,1) 0%, rgba(237,96,119,1) 100%);
    border: 15px solid #3c3f47;
    box-shadow: inset 25px 25px var(--border),
                inset -25px -25px var(--border);
    margin: 0;
    position: relative;
    display: flex;
}

.logo span {
    width: 50px;
    height: 100px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.logo span:nth-child(1) {
    left: -60px;
    border-radius: 20px 0 0 20px;
    border: 10px solid white;
}

.logo span:nth-child(2) {
    right: -60px;
    border-radius: 0 20px 20px 0;
    background-color: white;
}

.logo span::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
}

.logo span:nth-child(1):after {
    background-color: white;
    top: 10px;
}

.logo span:nth-child(2):after {
    background-color: #a9e4ee;
    top: 10px;
    bottom: 0;
}