* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: antiquewhite;
}

.bedroom {
    width: 600px;
    height: 400px;
    position: relative;
    transform: translateY(-75px);
}

.bedroom .walls .left,
.bedroom .walls .right,
.bedroom .walls .floor {
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
}

.bedroom .walls .left {
    background-color: #2c66b2;
    transform: skewY(-20deg);
    left: 0px;
}

.bedroom .walls .right {
    width: 350px;
    height: 260px;
    background-color: #3474bc;
    transform: skewY(27deg);
    right: -50px;
    top: 30px;
}

.bedroom .walls .floor {
    height: 180px;
    background-color: #3e82c6;
    transform: skew(63deg, -27deg);
    inset: 0;
    left: 50px;
    bottom: -435px;
}

.bedroom .walls .floor .border:nth-child(1) {
    width: 175px;
    height: 25px;
    background-color: #2c66b0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 2px;
    left: -90px;
    transform: rotate(90deg) skewX(25deg);
}

.bedroom .walls .floor .border:last-child {
    width: 308px;
    height: 10px;
    background-color: #2c66b0;
    position: absolute;
    margin: auto;
    bottom: -1px;
    left: -5px;
    transform: rotate(0deg) skewX(-65deg);
}
