* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #b2e9cd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joystick {
    width: 530px;
    height: 250px;
    position: relative;
}

.joystick-body {
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: #CDB8C4;
    margin: auto;
    left: 0;
    right: 0;
    border-top: 5px solid #53243D;
    z-index: 10;
}

.joystick-body .joystick-body-stroke {
    width: 90px;
    height: 5px;
    background-color: #53243D;
    position: absolute;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
}

.joystick .left,
.joystick .right {
    width: 250px;
    height: 250px;
    background-color: #CDB8C4;
    position: absolute;
    border: 5px solid #53243D;
}

.joystick .left {
    left: 0px;
    border-radius: 50%;
}

.joystick .right {
    right: 0px;
    border-radius: 50%;
}