* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #b2e9cd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joystick {
    width: 530px;
    height: 250px;
    position: relative;
}

.joystick-body {
    width: 300px;
    height: 200px;
    position: absolute;
    background-color: #DBD1C7;
    margin: auto;
    left: 0;
    right: 0;
    border-top: 5px solid #53243D;
    z-index: 1;
}

.joystick-body::before {
    content: "";
    width: 120px;
    height: 2px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 30px;
    border: 1px dashed #53243D;
}

.joystick-body::after {
    content: "";
    width: 120px;
    height: 2px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 40px;
    border: 1px solid #53243D;
}

.joystick-body .joystick-body-stroke {
    width: 100px;
    height: 5px;
    background-color: #53243D;
    position: absolute;
    margin: auto;
    bottom: -10px;
    left: 0;
    right: 0;
    box-shadow:  0 -5px #a59e95;
}

.joystick .cable {
    width: 10px;
    height: 200px;
    background-color: #53243D;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -190px;
    border: 1px solid #53243D;
    box-shadow: inset -4px 0 #9B7188;
}

.joystick .left-hand,
.joystick .right-hand {
    width: 250px;
    height: 250px;
    background-color: #DBD1C7;
    position: absolute;
    border: 5px solid #53243D;
    box-shadow: inset 0 -5px #a59e95;
}

.joystick .left-hand,
.joystick .right-hand {
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.joystick .left-hand {
    left: 0px;
}

.joystick .right-hand {
    right: 0px;
}


.arrows {
    position: absolute;
    z-index: 5;
    width: 70%;
    height: 70%;
    background-color: #D9BCCD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #53243D;
    box-shadow: inset 0 5px #FFFFFF70,
                0 5px #00000031;
}

.arrows::before {
    content: "";
    width: 35px;
    height: 35px;
    background-color: #9B7188;
}

.arrows::after {
    content: "";
    width: 25px;
    height: 25px;
    border: 2px solid #53243D;
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 3px 0 #FFFFFF70;
}

.joystick .left-hand .arrows button {
    width: 35px;
    height: 35px;
    background-color: #9B7188;
    border: 5px solid #53243D;
    position: absolute;
    box-shadow: inset 0 3px #FFFFFF90;
}

.joystick .left-hand .arrows button.top {
    top: 30px;
    border-bottom: none;
}

.joystick .left-hand .arrows button.bottom {
    bottom: 30px;
    border-top: none;
    box-shadow: inset 0 -3px #00000036;
}

.joystick .left-hand .arrows button.right {
    right: 30px;
    border-left: none;
}
.joystick .left-hand .arrows button.left {
    left: 30px;
    border-right: none;
}

.joystick .left-hand .arrows button::after {
    content: "\25B2";
    font-size: 25px;
    color: #53243D;
    position: absolute;
    margin: 0;
    left: 0;
    top: -4px;    
}

.joystick .left-hand .arrows button.right::after {
    transform: rotate(90deg);
    left: 7px;
    top: -2px;
}

.joystick .left-hand .arrows button.left::after {
    transform: rotate(-90deg);
    right: 7px;
    top: -2px;
}

.joystick .left-hand .arrows button.bottom::after {
    transform: rotate(180deg);
    left: 0px;
    top: 4px;
}

.joystick .right-hand .buttons {
    width: 80%;
    height: 80%;
    background-color: #D9BCCD;
    z-index: 5;
    position: absolute;
    border-radius: 50%;
    border: 5px solid #53243D;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 5px #FFFFFF70,
                0 5px #00000031;
}

.joystick .right-hand .buttons section {
    width: 110px;
    height: 50px;
    background-color: #DBD1C7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    border: 5px solid #53243D;
    margin: 10px;
    transform: rotate(-45deg);
    position: absolute;
    box-shadow: inset 0 3px #FFFFFF90,
                0 3px #0000005d;
}

.joystick .right-hand .buttons section:nth-child(1) {
    top: 30px;
    left: 10px;
}

.joystick .right-hand .buttons section:nth-child(2) {
    bottom: 30px;
    right: 10px;
}

.joystick .right-hand .buttons section button {
    width: 30px;
    height: 30px;
    border: 2px solid #53243D;
    border-radius: 50%;
    box-shadow: inset 0 3px #FFFFFF90;
}

.joystick .right-hand .buttons section button:nth-child(1) {
    background-color: #B5E27C;
}

.joystick .right-hand .buttons section button:nth-child(2) {
    background-color: #6AC3D5;
}

.joystick .right-hand .buttons section:nth-child(2) button:nth-child(1) {
    background-color: #e2d87c;
}

.joystick .right-hand .buttons section:nth-child(2) button:nth-child(2) {
    background-color: #d56a81;
}

.joystick .start-select::before,
.joystick .start-select::after {
    content: "";
    width: 30px;
    height: 5px;
    background-color: #9B7188;
    position: absolute;
    margin: auto;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 5;
    border-radius: 10px;
    border: 5px solid #53243D;
    box-shadow: inset 0 3px #D9BCCD,
                0 5px #00000031;
    transform: rotate(-45deg);
}

.joystick .start-select::before {
    left: -35px;
}

.joystick .start-select::after {
    right: -35px;
}

.triggers::before,
.triggers::after {
    content: "";
    width: 150px;
    height: 100px;
    background-color: #9B7188;
    position: absolute;
    top: -8px;
    z-index: -1;
    border: 2px solid #53243D;
    box-shadow: inset 0 2px #ffffff2c;
}

.triggers::before {
    left: 50px;
    border-radius: 50% 15px;
}

.triggers::after {
    right: 50px;
    border-radius: 15px 50%;
}