* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0d7d7;
}

.miojao {
    width: 250px;
    height: 320px;
    position: relative;
}

.miojao .hashi {
    width: 75%;
    height: 12px;
    border: 4px solid #246294;
    position: absolute;
    background-color: whitesmoke;
}

.miojao .hashi:nth-child(2) {
    top: 25px;
    z-index: 15;
}

.miojao .hashi::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #246294;
    position: absolute;
    left: 10%;
    box-shadow: 10px 0 #246294;
}

.miojao .macarone {
    width: 4px;
    height: 65%;
    background-color: #246294;
    position: absolute;
    left: 34%;
    z-index: 10;
    box-shadow: 8px 0 #246294, 16px 0 #246294, 24px 0 #246294, 32px 0 #246294,
        40px 0 #246294, 48px 0 #246294, 56px 0 #246294, 64px 0 #246294,
        72px 0 #246294, 80px 0 #246294;
}

.miojao .bowl {
    width: 70%;
    height: 90px;
    background-color: white;
    border: 3px solid #246294;
    position: absolute;
    bottom: 25px;
    border-radius: 10px 10px 200px 200px;
    left: 15%;
    z-index: 15;
    box-shadow: inset 15px -10px #bacedd;
    overflow: hidden;
}

.miojao .bowl .detail {
    width: 100%;
    height: 15px;
    background-color: transparent;
    border: 3px solid #246294;
    position: absolute;
    top: 15px;
}

.miojao .bowl .detail::before {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #246294;
    position: absolute;
    border-radius: 50%;
    top: -1px;
    left: -3px;
    box-shadow: 20px 0 #246294, 40px 0 #246294, 60px 0 #246294, 80px 0 #246294,
        100px 0 #246294, 120px 0 #246294, 140px 0 #246294, 160px 0 #246294,
        180px 0 #246294;
}

.miojao .bowl .detail::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    top: 2.5px;
    left: 0;
    box-shadow: 10px 0 #246294, 20px 0 #fff, 30px 0 #246294, 40px 0 #fff,
        50px 0 #246294, 60px 0 #fff, 70px 0 #246294, 80px 0 #fff, 90px 0 #246294,
        100px 0 #fff, 110px 0 #246294, 120px 0 #fff, 130px 0 #246294,
        140px 0 #fff, 150px 0 #246294, 160px 0 #fff;
}

.miojao .bowl-base {
    width: 100px;
    height: 40px;
    background-color: #bacedd;
    position: absolute;
    bottom: 15px;
    left: 30%;
    border: 3px solid #246294;
}

.miojao .bowl-base::before {
    content: "";
    width: 270px;
    height: 5px;
    background-color: #246294;
    position: absolute;
    left: -78px;
    bottom: -5px;
}

.miojao .bowl-base::after {
    content: "";
    width: 50px;
    height: 25px;
    position: absolute;
    background-color: whitesmoke;
    bottom: -3px;
    right: -100px;
    border-radius: 10% 10% 40% 40% / 10% 10% 57% 57%;
    border: 3px solid #246294;
}
