* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0d7d7;
}

.miojao {
    width: 250px;
    height: 400px;
    position: relative;
}

.miojao .hashis .hashi {
    width: 90%;
    height: 12px;
    border: 4px solid #246294;
    position: absolute;
}

.miojao .hashis .hashi:last-child {
    top: 25px;
}

.miojao .hashis .hashi::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #246294;
    position: absolute;
    left: 10%;
    box-shadow: 10px 0 #246294;
}
