* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0d7d7;
}

.miojao {
    width: 250px;
    height: 400px;
    position: relative;
}

.miojao .hashi {
    width: 90%;
    height: 12px;
    border: 4px solid #246294;
    position: absolute;
    background-color: whitesmoke;
}

.miojao .hashi:nth-child(2) {
    top: 25px;
    z-index: 15;
}

.miojao .hashi::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #246294;
    position: absolute;
    left: 10%;
    box-shadow: 10px 0 #246294;
}

.miojao .macarone {
    width: 4px;
    height: 55%;
    background-color: #246294;
    position: absolute;
    left: 50%;
    z-index: 10;
    box-shadow: 8px 0 #246294, 16px 0 #246294, 24px 0 #246294, 32px 0 #246294,
        40px 0 #246294, 48px 0 #246294, 56px 0 #246294, 64px 0 #246294,
        72px 0 #246294, 80px 0 #246294;
}
