* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d7deea;
}

form {
  height: 100vh;
  display: grid;
  place-items: center;
}

label {
  position: relative;
  display: block;
  width: 250px;
  height: 100px;
  background-color: #498aec;
  border-radius: 100vh;
  cursor: pointer;
  box-shadow: inset 0 2px 4px 4px #2d2d2d60, inset 0 -2px 5px 4px #2d2d2d40,
    0 -2px 2px 2px #2d2d2d30, 0 2px 2px 2px #f5f5f5;
  overflow: hidden;
}

input[type="checkbox"] {
  appearance: none;
}

fieldset {
  border: none;
}

label .sun {
  display: block;
  background-color: #ffd900;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  transform: translateX(15px);
  box-shadow: inset 5px 5px 10px #f5f5f5, inset -1px -1px 10px #2d2d2d,
    0 0 0 30px #d7deea35, 0 0 0 60px #d7deea35, 0 0 0 90px #d7deea35;
  position: absolute;
  z-index: 10;
  aspect-ratio: 4 / 4;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

label .moon {
  width: 100%;
  height: 100%;
  background-color: #cacaca;
  border-radius: 50%;
  position: absolute;
  transform: translateX(100px);
  margin: auto;
  box-shadow: inset 5px 5px 10px #f5f5f5, inset -1px -1px 10px #2d2d2d;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

label .moon div {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #b5b7d1;
  border-radius: 50%;
  box-shadow: inset 2px 2px 5px #2d2d2d70;
  inset: 0;
  margin: auto;
  z-index: 20;
}
label .moon div:nth-child(1) {
  left: -20px;
  bottom: -20px;
}

label .sun .moon div:nth-child(2) {
  left: 0;
  bottom: -10px;
  right: -40px;
  scale: 0.6;
}

label .sun .moon div:nth-child(3) {
  left: 0;
  bottom: 40px;
  scale: 0.6;
}

.clouds {
  background-color: white;
  width: 60px;
  height: 60px;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  bottom: -30px;
  left: 25px;
  box-shadow: 35px -5px white, 70px -5px white, 100px 0px white,
    140px -25px 0 5px white, 180px -35px 0 5px white;
  transition: transform 0.5s ease-in-out;
  z-index: 3;
}

.clouds.shadow {
  background-color: #2d2d2d;
  box-shadow: 35px -5px #2d2d2d, 70px -5px #2d2d2d, 100px 0px #2d2d2d,
    140px -25px 0 5px #2d2d2d, 180px -35px 0 5px #2d2d2d;
  z-index: 2;
  opacity: 0.4;
  transform: translateY(-10px) translateX(-5px);
}

.star-container {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.star {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  clip-path: polygon(
    35% 31%,
    50% 0,
    67% 31%,
    100% 53%,
    67% 69%,
    50% 100%,
    35% 69%,
    0 53%
  );
  animation: blink 2s infinite alternate;
}

.star-container .star:nth-child(1) {
  top: 15px;
  left: 100px;
}

.star-container .star:nth-child(2) {
  top: 50px;
  left: 50px;
  scale: 0.7;
  animation-delay: 1s;
}
.star-container .star:nth-child(3) {
  top: 60px;
  left: 20px;
  scale: 0.6;
  animation-delay: 1s;
}
.star-container .star:nth-child(4) {
  top: 20px;
  left: 70px;
  scale: 0.4;
}
.star-container .star:nth-child(5) {
  top: 70px;
  left: 80px;
  scale: 0.5;
  animation-delay: 1s;
}
.star-container .star:nth-child(6) {
  top: 30px;
  left: 130px;
}
.star-container .star:nth-child(7) {
  top: 50px;
  left: 110px;
  scale: 0.7;
}
.star-container .star:nth-child(8) {
  top: 15px;
  left: 100px;
  scale: 0.6;
  animation-delay: 1s;
}
.star-container .star:nth-child(9) {
  top: 40px;
  left: 85px;
  scale: 0.4;
}
.star-container .star:nth-child(10) {
  top: 75px;
  left: 130px;
  animation-delay: 4s;
}
.star-container .star:nth-child(11) {
  top: 20px;
  left: 30px;
  scale: 0.7;
  animation-delay: 0.2s;
}
.star-container .star:nth-child(12) {
  top: 2px;
  left: 120px;
  scale: 0.6;
  animation-delay: 0.4s;
}
.star-container .star:nth-child(13) {
  top: 5px;
  left: 40px;
  scale: 0.6;
  animation-delay: 1s;
}

input[type="checkbox"]:checked + label .clouds {
  transform: translateY(110%);
}

input[type="checkbox"]:not(:checked) + label .star-container {
  transform: translateY(-110%);
}

input[type="checkbox"]:checked + label {
  background-color: #224c8a;
}

input[type="checkbox"]:checked + label .moon {
  transform: translateX(0);
}

input[type="checkbox"]:checked + label .sun {
  transform: translateX(150px);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
