* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --ggmBaseHead: #df2727;
    --ggmBaseHeadShadow: #c51818;
    --ggmPoisonHead: #5641d1;
    --ggmPoisonHeadShadow: #563ebe;
    --ggmOneUpHead: #01d801;
    --ggmOneUpHeadShadow: #0daf0d98;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cce2c6;
}

.grumGrumMelo {
    width: 150px;
    height: 150px;
    position: relative;
}

/* Caneça do grumgrummelo */
.grumGrumMelo .head {
    width: 100%;
    height: 75%;
    background-color: var(--ggmBaseHead);
    border-radius: 100px 100px 50px 50px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    box-shadow: inset 0 15px #ffffff15;
}

.grumGrumMelo .head::before {
    content: "";
    width: 60%;
    height: 50px;
    position: absolute;
    background-color: var(--ggmBaseHeadShadow);
    margin: auto;
    bottom: -25px;
    left: 0;
    right: 0;
    border-radius: 50%;
}

.grumGrumMelo .head .spot {
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    box-shadow: inset 0 -4px #00000050, inset 0 4px #ffffff50;
    z-index: 3;
}

.grumGrumMelo .head .spot:nth-child(1) {
    top: -20px;
    left: 40px;
}

.grumGrumMelo .head .spot:nth-child(2) {
    top: 50px;
    left: -15px;
}

.grumGrumMelo .head .spot:nth-child(3) {
    top: 33px;
    left: 55px;
}

.grumGrumMelo .head .spot:nth-child(4) {
    top: 55px;
    right: -15px;
}

/* Corpo do grumgrummelo */
.grumGrumMelo .body {
    width: 50%;
    height: 30%;
    background-color: #ecd9a0;
    border-radius: 45% 45% 20% 20% / 23% 23% 60% 60%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 15px;
    border: 2px solid black;
    position: relative;
}

.grumGrumMelo .body::before {
    content: "";
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.432);
    position: absolute;
    margin: auto;
    inset: 0;
    border-radius: 10px;
}

.grumGrumMelo .body .eyes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.grumGrumMelo .body .eyes .eye {
    width: 10px;
    height: 25px;
    background-color: black;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    overflow: hidden;
}

.grumGrumMelo .body .eyes .eye::before {
    content: "";
    width: 50%;
    height: 50%;
    background-color: white;
    position: absolute;
    top: 3px;
    border-radius: 10px 10px 10px 10px;
    animation: move 4s alternate-reverse infinite ease-in;
}

.grumGrumMelo .body .eyes .eye::after {
    content: "";
    width: 100%;
    height: 0;
    position: absolute;
    background-color: #c5af6d;
    transition: all 0.2s ease-in;
    animation: close 5s infinite ease-in-out;
    border-radius: 2px;
    animation-delay: 5s;
}

@keyframes close {
    0% {
        height: 0%;
    }
    75% {
        height: 0;
    }
    90% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@keyframes move {
    0% {
        left: 1.5px;
    }
    25% {
        left: 1.5px;
    }
    50% {
        left: 3.5px;
    }
    75% {
        left: 3.5px;
    }
    100% {
        left: 3.5px;
    }
}
