@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.calendar header {
    padding: 20px 50px;
    border-bottom: 1px solid #00000010;
}

.calendar header menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar header menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}

.calendar header menu div {
    display: flex;
    align-items: center;
}

.calendar header menu div:nth-child(1) {
    justify-content: space-evenly;
}

.calendar header menu div:nth-child(1) span:nth-child(1) {
    font-size: 20px;
    color: #525252;
}

.calendar header menu div:nth-child(1) span:nth-child(2) {
    width: 30px;
    height: 30px;
    color: #388E37;
    font-weight: 700;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.calendar header menu div:nth-child(1) h1 {
    font-weight: 500;
    color: #424141;
}

.calendar header menu div:nth-child(2) button{
    margin-right: 15px;
    padding: 10px 15px;
    background-color: #e0e0e0a9;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #525252;
}

.calendar header menu div:nth-child(2) div button{
    margin-right: 5px;
    color: #52525281;
}

.calendar header menu div:nth-child(2) span {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #504f4f;
    letter-spacing: 2px;
}

.calendar header menu div:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.calendar header menu div:nth-child(3) button,
.calendar header menu div:nth-child(3) select {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #e0e0e0a9;
    color: #5e5e5eaf;
}

.calendar header menu div:nth-child(3) select {
    color: #525252;
}

.calendar header menu div:nth-child(3) img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}