* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.kirby {
    position: relative;
}

.kirby .body {
    width: 250px;
    height: 250px;
    background-color: #ffa4a9;
    border-radius: 50%;
    border: 5px solid #111;
}

.kirby .arms .arm {
    width: 100px;
    height: 100px;
    background-color: #ffa4a9;
    position: absolute;
    border-radius: 32% 68% 49% 51% / 41% 71% 29% 59%;
    top: 0;
    z-index: -1;
    border: 5px solid #111;
}

.kirby .arms .arm:last-child {
    right: 0;
    transform: rotateY(180deg);
}

.kirby .arms::before,
.kirby .arms::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ffa4a9;
    border-radius: 50%;
}

.kirby .arms::before {
    top: 13px;
    left: 10px;
}

.kirby .arms::after {
    top: 13px;
    right: 10px;
}

.kirby .body .face .eyes .eye {
    width: 27px;
    height: 70px;
    position: absolute;
    background-color: #007fc8;
    margin: auto;
    border-radius: 44%;
    border: 5px solid #111;
    top: 30px;
    left: 90px;
    overflow: hidden;
}

.kirby .body .face .eyes .eye::after {
    content: "";
    width: 20px;
    height: 40px;
    background-color: whitesmoke;
    position: absolute;
    top: -10px;
    border-radius: 50%;
    box-shadow: 0 15px #111;
}

.kirby .body .face .eyes .eye:first-child {
    transform: rotate(2deg);
}

.kirby .body .face .eyes .eye:last-child {
    right: 90px;
    left: unset;
    transform: rotate(-2deg);
}

.kirby .body .face .cheeks .cheek {
    width: 40px;
    height: 25px;
    background-color: #ff509b;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    inset: 0;
    top: -60px;
}

.kirby .body .face .cheeks .cheek:first-child {
    left: -125px;
    transform: rotate(5deg);
}

.kirby .body .face .cheeks .cheek:last-child {
    right: -125px;
    transform: rotate(-5deg);
}

.kirby .body .face .mouth {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: auto;
    inset: 0;
    bottom: -20px;
    border: 3px solid #111;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 30px 30px 10px 10px;
}

.kirby .body .face .mouth::before,
.kirby .body .face .mouth::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    margin: auto;
    top: -10px;
    border: 3px solid #111;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 20px 20px 10px 10px;
}

.kirby .body .face .mouth::before {
    transform: rotate(85deg);
    left: -21px;
}

.kirby .body .face .mouth::after {
    transform: rotate(-85deg);
    left: unset;
    right: -21px;
}

.kirby .foots .foot {
    width: 100px;
    height: 80px;
    background-color: #e9005c;
    position: absolute;
    border-radius: 14% 26% 54% 47% / 0% 0% 89% 89%;
    border: 5px solid #111;
    bottom: -25px;
    z-index: -1;
}

.kirby .foots .foot:first-child {
    transform: rotate(15deg);
    left: 20px;
}

.kirby .foots .foot:last-child {
    transform: rotate(-15deg) rotateY(180deg);
    right: 20px;
}
