* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.kirby {
    position: relative;
}

.kirby .body {
    width: 250px;
    height: 250px;
    background-color: #ffa4a9;
    border-radius: 50%;
    border: 5px solid #111;
}

.kirby .arms .arm {
    width: 100px;
    height: 100px;
    background-color: #ffa4a9;
    position: absolute;
    border-radius: 32% 68% 49% 51% / 41% 71% 29% 59%;
    top: 0;
    z-index: -1;
    border: 5px solid #111;
}

.kirby .arms .arm:last-child {
    right: 0;
    transform: rotateY(180deg);
}

.kirby .arms::before,
.kirby .arms::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #ffa4a9;
    border-radius: 50%;
}

.kirby .arms::before {
    top: 13px;
    left: 10px;
}

.kirby .arms::after {
    top: 13px;
    right: 10px;
}
