* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #252568;
}

.scene .moon {
  width: 200px;
  height: 200px;
  background-color: #2ab2fd;
  border-radius: 50%;
  position: relative;
}

.scene .moon::after {
  content: '';
  width: inherit;
  height: inherit;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset -30px 0px #11111130;
}

.scene .moon .crater {
  background-color: #21a9fb;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  box-shadow: inset 5px 0 #2597d7;
}

.scene .moon .crater:nth-child(1) {
  width: 25px;
  height: 25px;
  top: 25px;
  left: -30px;
  right: 0;
}

.scene .moon .crater:nth-child(2) {
  width: 35px;
  height: 35px;
  top: 40px;
  left: 0px;
  right: -50px;
}

.scene .moon .crater:nth-child(3) {
  width: 30px;
  height: 30px;
  top: -20px;
  bottom: 0;
  left: 15px;
}

.scene .moon .crater:nth-child(4) {
  width: 25px;
  height: 25px;
  bottom: 50px;
  left: 50px;
}

.scene .moon .crater:nth-child(5) {
  width: 50px;
  height: 50px;
  bottom: 25px;
  right: 30px;
  box-shadow: inset 10px 0 #2597d7;
}

.scene .moon .face {
  width: 15px;
  height: 15px;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  inset: 0;
  left: -50px;
  box-shadow: 50px 0 0 0 #111, -15px 15px 0 -3px #11111150,
    65px 15px 0 -3px #11111150;
}

.scene .moon .face:after {
  content: '';
  width: 15px;
  height: 15px;
  border: 4px solid #111;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-45deg);
  top: 10px;
  left: 20px;
}

.scene .rocket-container {
  width: 350px;
  height: 350px;
  position: absolute;
  margin: auto;
  inset: 0;
  /* border: 1px solid white; */
  border-radius: 50%;
  animation: translation 5s infinite linear;
}

.scene .rocket-container .rocket {
  width: 30px;
  height: 60px;
  background-color: whitesmoke;
  position: absolute;
  border-radius: 45% 45% 0 0;
  margin: auto;
  top: 0;
  bottom: 0;
  left: -15px;
}

.scene .rocket-container .rocket .wing {
  width: 20px;
  height: 20px;
  background-color: #21a9fb;
  position: absolute;
  margin: auto;
  left: -20px;
  bottom: 0;
  border-radius: 17px 0 0 0;
}

.scene .rocket-container .rocket .wing:nth-child(2) {
  transform: rotateY(180deg);
  left: unset;
  right: -20px;
}

.scene .rocket-container .rocket .window {
  width: 15px;
  height: 15px;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 30%;
  border: 1px solid #21a9fb;
}

.scene .rocket-container .rocket .propellant {
  width: 25px;
  height: 5px;
  background-color: #21a9fb;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -5px;
  border-radius: 0 0 5px 5px;
}

@keyframes translation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
