* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #d7effa;
}

.worker {
    width: 300px;
    height: 400px;
    position: relative;
}

.worker .head {
    width: 100px;
    height: 120px;
    background-color: #f5c793;
    border-radius: 50px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.worker .head .helmet {
    width: 110px;
    height: 55px;
    background-color: #f69222;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    position: absolute;
    left: -5px;
    top: -5px;
}

.worker .head .helmet::before {
    content: "";
    width: 110%;
    height: 10px;
    background-color: #f7ae3f;
    position: absolute;
    bottom: -10px;
    left: -5px;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);
}

.worker .head .helmet::after {
    content: "";
    width: 40px;
    height: 45px;
    background-color: #f7ae3f;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -3px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
}

.worker .head .mask {
    width: 60px;
    height: 50px;
    background-color: #f5f5f5;
    position: absolute;
    margin: auto;
    bottom: -5px;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
}

.worker .head .mask span {
    width: 60%;
    height: 5px;
    background-color: #d4d4d4;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 15px;
    border-radius: 10px;
    box-shadow: inset 0 -2px #11111130;
}

.worker .head .mask span:nth-child(2) {
    top: 22px;
}

.worker .head .mask span:nth-child(3) {
    top: 30px;
}

.worker .body .vest {
    width: 220px;
    height: 200px;
    background-color: #e6a168;
    position: absolute;
    margin: auto;
    left: -60px;
    top: 55px;
    border-radius: 80px 80px 0 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    overflow: hidden;
    z-index: -1;
}

.worker .body .vest span {
    width: 150px;
    height: 200%;
    background-color: #ea494f;
    position: absolute;
    top: -10px;
    left: -23px;
    transform: rotate(-23deg);
}

.worker .body .vest span:last-child {
    transform: rotate(23deg);
    left: unset;
    right: -23px;
}

.worker .body .vest::after {
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    background-color: #f5f5f5;
    bottom: 25px;
    z-index: 1;
}
