@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", sans-serif;
    list-style: none;
}

.ui {
    position: relative;
}

.ui header {
    padding-left: 10px;
    background-color: #dacdb7;
    height: 50px;
}

.ui header ul {
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.ui header ul li span {
    position: relative;
}

.ui header ul li span::before {
    content: "";
    width: 7px;
    height: 2px;
    background-color: #111;
    position: absolute;
    bottom: 0px;
    left: 1px;
}

.ui header ul li:nth-child(5) span::before {
    left: 9px;
}

.ui header ul li:nth-child(6) span::before {
    left: unset;
    right: 0px;
}

/* 
.controller {
    width: 520px;
    height: 100px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.controller .pallete {
    width: 250px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.controller .pallete .color {
    width: 27px;
    height: 27px;
    background-color: whitesmoke;
    cursor: pointer;
}

.controller .pallete .color:hover {
    filter: brightness(80%);
}

.controller .form {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}

.controller .form .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controller .form input {
    width: 40%;
    height: 20px;
    border: none;
    border-radius: 2px;
    padding: 3px;
}

.controller .form button {
    width: 100%;
    height: 20px;
    border: none;
    background-color: lime;
    font-weight: 800;
    cursor: pointer;
}

.controller .form button:hover {
    filter: brightness(80%);
}

.pixel-canvas {
    background-color: teal;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(20, 20px) / repeat(20, 20px);
}

.pixel-canvas .pixel {
    width: 20px;
    height: 20px;
    border: 0.1px solid black;
} */
