@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", sans-serif;
    list-style: none;
}

/* Main ui */

.ui {
    position: relative;
    max-width: 1365px;
}

/* Header com ooções */

.ui .options-menu {
    padding-left: 10px;
    background-color: #dacdb7;
    height: 60px;
}

.ui .options-menu ul {
    display: flex;
    gap: 15px;
    font-size: 22px;
}

.ui .options-menu ul li span {
    position: relative;
}

.ui .options-menu ul li span::before {
    content: "";
    width: 7px;
    height: 2px;
    background-color: #111;
    position: absolute;
    bottom: 0px;
    left: 1px;
}

.ui .options-menu ul li:nth-child(5) span::before {
    left: 9px;
}

.ui .options-menu ul li:nth-child(6) span::before {
    left: unset;
    right: 0px;
}

/* Header de projetos no container principal */

.ui .main-container {
    padding-left: 10px;
    border-top: 2px solid #111;
    background-color: #32a1a1;
    box-shadow: inset 0 2px #94cbcb;
}

.ui .main-container .main-header .opened-project {
    display: flex;
    gap: 5px;
    position: relative;
}

.ui .main-container .main-header .opened-project .project {
    width: 160px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    font-size: 22px;
    color: whitesmoke;
    position: absolute;
    border-radius: 7px 7px 0 0;
}

.ui .main-container .main-header .opened-project .selected-project {
    background-color: #32a1a1;
    top: -28px;
    box-shadow: inset 2px 2px #94cbcb, inset -2px 0px #94cbcb, 2px -2px #111,
        -2px -2px #111;
}

.ui .main-container .main-header .opened-project .project:last-child {
    background-color: #bbb0b0;
    height: 30px;
    left: 165px;
    top: -30px;
    box-shadow: inset 2px 2px whitesmoke, inset -2px 0px whitesmoke;
    border: 2px solid #111;
    color: #111;
}

.ui .main-container .main-header .opened-project .project button {
    width: 20px;
    height: 20px;
    color: white;
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    font-size: 12px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;
}

.ui .main-container .main-header .opened-project .project:last-child button {
    color: #111;
}

.ui
    .main-container
    .main-header
    .opened-project
    .selected-project
    button:hover::before {
    visibility: visible;
}

.ui .main-container .main-header .opened-project .project button::before {
    content: "X";
    width: 100%;
    height: 100%;
    background-color: #a6c2c2;
    position: absolute;
    font-size: 16px;
    border-radius: 2px;
    color: whitesmoke;
    visibility: hidden;
}

/* 
.controller {
    width: 520px;
    height: 100px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.controller .pallete {
    width: 250px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.controller .pallete .color {
    width: 27px;
    height: 27px;
    background-color: whitesmoke;
    cursor: pointer;
}

.controller .pallete .color:hover {
    filter: brightness(80%);
}

.controller .form {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}

.controller .form .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controller .form input {
    width: 40%;
    height: 20px;
    border: none;
    border-radius: 2px;
    padding: 3px;
}

.controller .form button {
    width: 100%;
    height: 20px;
    border: none;
    background-color: lime;
    font-weight: 800;
    cursor: pointer;
}

.controller .form button:hover {
    filter: brightness(80%);
}

.pixel-canvas {
    background-color: teal;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(20, 20px) / repeat(20, 20px);
}

.pixel-canvas .pixel {
    width: 20px;
    height: 20px;
    border: 0.1px solid black;
} */
