* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.controller {
    width: 520px;
    height: 100px;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.controller .pallete {
    width: 250px;
    height: 50px;
    /* background-color: teal; */
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.controller .pallete .color {
    width: 27px;
    height: 27px;
    background-color: whitesmoke;
    cursor: pointer;
}

.controller .pallete .color:hover {
    filter: brightness(80%);
}

.controller .form {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}

.controller .form .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controller .form input {
    width: 40%;
    height: 20px;
    border: none;
    border-radius: 2px;
    padding: 3px;
}

.controller .form button {
    width: 100%;
    height: 20px;
    border: none;
    background-color: lime;
    font-weight: 800;
    cursor: pointer;
}

.controller .form button:hover {
    filter: brightness(80%);
}

.pixel-canvas {
    background-color: teal;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template: repeat(20, 20px) / repeat(20, 20px);
}

.pixel-canvas .pixel {
    width: 20px;
    height: 20px;
    border: 0.1px solid black;
}
