@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 100px;
}

/* =-=-=-=-= Container =-=-=-=-= */
.container {
    display: grid;
    grid-template-areas: "c1 c1 c1 c2 c5"
                         "c3 c4 c4 c4 c5";
    gap: 30px;
    width: 1200px;
}

/* =-=-=-=-= Areas =-=-=-=-= */
.one {
    grid-area: c1;
    background-color: #765CC8;
    background-image: url(assets/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% top;
    background-size: 130px;
}
.two {
    grid-area: c2;
    background-color: #4B566A;
}
.three {
    grid-area: c3;
    background-color: #FFFFFF;
}

.container .three .text1, 
.container .three .top .info h1,
.container .five .text1,
.container .five .top .info h1 {
    color: rgba(0, 0, 0, 0.747);
}

.container .three .text2, 
.container .three .top .info h2,
.container .five .text2,
.container .five .top .info h2 {
    color: rgba(0, 0, 0, 0.781);
}

.four {
    grid-area: c4;
    background-color: #1A222D;
}
.container .four .top img {
    border: 2px solid #765CC8;
}
.five {
    grid-area: c5;
    background-color: #FFFFFF;
}

/* =-=-=-=-= Card Styles =-=-=-=-= */
.card .top{
    display: flex;
    margin-bottom: 15px;
    height: 50px;
    align-items: center;
}
.card .top img{
    width: 40px;
    border-radius: 50%;
    margin-right: 25px;
    border: 2px solid rgba(255, 255, 255, 0.493);
}

.card .top .info h1{
    font-size: 20px;
    color: white;
}

.card .top .info h2{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.623);
}

.card {
    padding: 27px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 5px rgba(0,0,0,0.29);
}

.card .text1 {
    color: white;
    font-size: 21px;
    font-weight: 600;
    margin-bottom: 13px;
    text-align: left;
    line-height: 25px;
}

.card .text2 {
    color: rgba(255, 255, 255, 0.842);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}
/* =-=-=-= Footer =-=-=-= */
.attribution {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}