* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.apple {
  width: 400px;
  height: 500px;
  /* background-color: teal; */
  position: relative;
}

.body .left,
.body .right {
  content: "";
  width: 50%;
  height: 65%;
  position: absolute;
  background-color: rgb(255, 38, 0);
  border-radius: 50%;
  margin: auto;
  inset: 0;
  overflow: hidden;
}

.body .left {
  transform: rotate(-15deg) translateX(-30%);
}

.body .right {
  transform: rotate(15deg) translateX(30%);
}

.body::before {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: #fc4322;
  margin: auto;
  inset: 0;
  top: -44%;
  clip-path: polygon(49% 50%, 78% 46%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 18% 44%);
}

.stalk {
  width: 100px;
  height: 130px;
  background-color: brown;
  clip-path: polygon(67% 15%, 74% 23%, 72% 34%, 52% 58%, 46% 72%, 37% 100%, 33% 70%, 34% 51%, 41% 30%, 54% 16%);
  position: absolute;
  margin: auto;
  inset: 0;
  top: -320px;
  right: -25px;
}

.leaf {
  width: 100px;
  height: 100px;
  border-radius: 0 90px;
  background: linear-gradient(-135deg, rgba(75,111,48,1) 0%, rgba(76,114,48,1) 50%, rgba(112,191,52,1) 51%, rgba(114,196,52,1) 100%); 
  transform: rotate(-10deg);
  position: absolute;
  margin: auto;
  inset: 0;
  top: -400px;
  left: -120px;
}

.body .right::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #00000020;
  clip-path: polygon(29% 9%, 0 0, 100% 0, 100% 100%, 24% 100%, 43% 86%, 54% 70%, 61% 49%, 55% 29%, 42% 16%);
  transform: rotate(-5deg) translateX(15px); 
}

.bite {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin: auto;
  inset: 0;
  right: -90%;
}
