* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 5px;
    height: 5px;
    background-color: teal;
    box-shadow: 5px 0 teal, 
                10px 0 teal, 
                15px 0 teal, 
                20px 0 teal,
                25px 0 teal, 
                30px 0 black, 
                35px 0 black, 
                40px 0 black, 
                45px 0 black,
                50px 0 teal, 
                55px 0 teal, 
                60px 0 teal, 
                65px 0 teal, 
                70px 0 teal,
                75px 0 teal,
                /* Segunda camada */
                0px 5px teal, 
                5px 5px teal, 
                10px 5px teal, 
                15px 5px teal, 
                20px 5px teal,
                25px 5px black, 
                30px 5px green, 
                35px 5px green, 
                40px 5px greenyellow, 
                45px 5px green,
                50px 5px black, 
                55px 5px black, 
                60px 5px teal, 
                65px 5px teal, 
                70px 5px teal,
                75px 5px teal,
                /* terceira camada */
                0px 10px teal, 
                5px 10px teal, 
                10px 10px teal, 
                15px 10px teal, 
                20px 10px black,
                25px 10px green, 
                30px 10px green, 
                35px 10px greenyellow, 
                40px 10px greenyellow, 
                45px 10px greenyellow,
                50px 10px greenyellow, 
                55px 10px green, 
                60px 10px black, 
                65px 10px teal, 
                70px 10px teal,
                75px 10px teal,
                /* terceira camada */
                0px 15px teal, 
                5px 15px black, 
                10px 15px teal, 
                15px 15px black, 
                20px 15px black,
                25px 15px orange, 
                30px 15px green, 
                35px 15px green, 
                40px 15px greenyellow, 
                45px 15px green,
                50px 15px orange, 
                55px 15px black, 
                60px 15px green, 
                65px 15px black, 
                70px 15px black,
                75px 15px teal,
                /* Quarta camada */
                0px 20px black, 
                5px 20px wheat, 
                10px 20px black, 
                15px 20px palevioletred, 
                20px 20px black,
                25px 20px black, 
                30px 20px orange, 
                35px 20px orange, 
                40px 20px orange, 
                45px 20px orange,
                50px 20px black, 
                55px 20px black, 
                60px 20px green, 
                65px 20px black, 
                70px 20px wheat,
                75px 20px black,
                /* quinta camada */
                0px 25px black, 
                5px 25px wheat, 
                10px 25px black, 
                15px 25px palevioletred, 
                20px 25px palevioletred,
                25px 25px palevioletred, 
                30px 25px black, 
                35px 25px black, 
                40px 25px black, 
                45px 25px black,
                50px 25px palevioletred, 
                55px 25px palevioletred, 
                60px 25px black, 
                65px 25px black, 
                70px 25px wheat,
                75px 25px black,
                /* Sexta camada */
                0px 30px black, 
                5px 30px peru, 
                10px 30px wheat, 
                15px 30px black, 
                20px 30px palevioletred,
                25px 30px palevioletred, 
                30px 30px palevioletred, 
                35px 30px palevioletred, 
                40px 30px palevioletred, 
                45px 30px palevioletred,
                50px 30px palevioletred, 
                55px 30px palevioletred, 
                60px 30px black, 
                65px 30px wheat, 
                70px 30px peru,
                75px 30px black,
                /* Setima camada */
                0px 35px black, 
                5px 35px peru, 
                10px 35px black, 
                15px 35px peru, 
                20px 35px black,
                25px 35px black, 
                30px 35px black, 
                35px 35px black, 
                40px 35px black, 
                45px 35px black,
                50px 35px black, 
                55px 35px black, 
                60px 35px palevioletred, 
                65px 35px black, 
                70px 35px peru,
                75px 35px black,
                /* Oitava camada */
                0px 40px teal, 
                5px 40px black, 
                10px 40px peru, 
                15px 40px black, 
                20px 40px peru,
                25px 40px whitesmoke, 
                30px 40px whitesmoke, 
                35px 40px peru, 
                40px 40px peru, 
                45px 40px whitesmoke,
                50px 40px whitesmoke, 
                55px 40px peru, 
                60px 40px black, 
                65px 40px peru, 
                70px 40px black,
                75px 40px teal,
                /* nona camada */
                0px 45px teal, 
                5px 45px teal, 
                10px 45px black, 
                15px 45px peru, 
                20px 45px peru,
                25px 45px whitesmoke, 
                30px 45px #313633, 
                35px 45px wheat, 
                40px 45px wheat, 
                45px 45px #313633,
                50px 45px whitesmoke, 
                55px 45px peru,
                60px 45px peru,
                65px 45px black,
                70px 45px teal,
                75px 45px teal,
                /* Decima camada */
                0px 50px teal, 
                5px 50px teal, 
                10px 50px black, 
                15px 50px black,
                20px 50px peru,
                25px 50px wheat, 
                30px 50px #313633, 
                35px 50px wheat, 
                40px 50px wheat, 
                45px 50px #313633,
                50px 50px wheat, 
                55px 50px peru,
                60px 50px black,
                65px 50px black,
                70px 50px teal,
                75px 50px teal,
                /* Decima Primeira camada */
                0px 55px teal, 
                5px 55px black, 
                10px 55px teal, 
                15px 55px teal,
                20px 55px black,
                25px 55px peru, 
                30px 55px black, 
                35px 55px wheat, 
                40px 55px wheat, 
                45px 55px wheat,
                50px 55px peru, 
                55px 55px black,
                60px 55px green,
                65px 55px greenyellow,
                70px 55px black,
                75px 55px teal,
                /* Decima Segunda camada */
                0px 60px black, 
                5px 60px whitesmoke, 
                10px 60px black, 
                15px 60px black,
                20px 60px black,
                25px 60px black, 
                30px 60px whitesmoke, 
                35px 60px black, 
                40px 60px peru, 
                45px 60px black,
                50px 60px black, 
                55px 60px green,
                60px 60px green,
                65px 60px black,
                70px 60px peru,
                75px 60px black,
                /* Decima Terceira camada */
                0px 65px black, 
                5px 65px whitesmoke, 
                10px 65px whitesmoke, 
                15px 65px whitesmoke,
                20px 65px whitesmoke,
                25px 65px whitesmoke, 
                30px 65px whitesmoke, 
                35px 65px black, 
                40px 65px black, 
                45px 65px green,
                50px 65px greenyellow, 
                55px 65px green,
                60px 65px black,
                65px 65px peru,
                70px 65px peru,
                75px 65px black,
                /* Decima Quarta camada */
                0px 70px black, 
                5px 70px whitesmoke, 
                10px 70px blue, 
                15px 70px blue,
                20px 70px blue,
                25px 70px blue, 
                30px 70px whitesmoke, 
                35px 70px black, 
                40px 70px greenyellow, 
                45px 70px greenyellow,
                50px 70px greenyellow, 
                55px 70px green,
                60px 70px black,
                65px 70px black,
                70px 70px gray,
                75px 70px black,
                /* Decima Quinta camada */
                0px 75px black, 
                5px 75px whitesmoke, 
                10px 75px blue, 
                15px 75px cadetblue,
                20px 75px cadetblue,
                25px 75px blue, 
                30px 75px whitesmoke, 
                35px 75px black, 
                40px 75px greenyellow, 
                45px 75px green,
                50px 75px green, 
                55px 75px green,
                60px 75px black,
                65px 75px gray,
                70px 75px gray,
                75px 75px black,
                /* Decima Sexta camada */
                0px 80px black, 
                5px 80px whitesmoke, 
                10px 80px blue, 
                15px 80px cadetblue,
                20px 80px cadetblue,
                25px 80px blue, 
                30px 80px whitesmoke, 
                35px 80px black, 
                40px 80px yellow, 
                45px 80px black,
                50px 80px yellow, 
                55px 80px yellow,
                60px 80px green,
                65px 80px black,
                70px 80px gray,
                75px 80px black,
                /* Decima Setima camada */
                0px 85px black, 
                5px 85px whitesmoke, 
                10px 85px blue, 
                15px 85px cadetblue,
                20px 85px cadetblue,
                25px 85px blue, 
                30px 85px whitesmoke, 
                35px 85px black, 
                40px 85px yellow, 
                45px 85px yellow,
                50px 85px green, 
                55px 85px green,
                60px 85px black,
                65px 85px black,
                70px 85px black,
                75px 85px teal,
                /* Decima Oitava camada */
                0px 90px teal, 
                5px 90px black, 
                10px 90px whitesmoke, 
                15px 90px blue,
                20px 90px blue,
                25px 90px whitesmoke, 
                30px 90px black, 
                35px 90px green, 
                40px 90px green, 
                45px 90px green,
                50px 90px black, 
                55px 90px black,
                60px 90px crimson,
                65px 90px black,
                70px 90px teal,
                75px 90px teal,
                /* Decima Nona camada */
                0px 95px teal, 
                5px 95px teal, 
                10px 95px black, 
                15px 95px whitesmoke,
                20px 95px whitesmoke,
                25px 95px black, 
                30px 95px black, 
                35px 95px black, 
                40px 95px black, 
                45px 95px black,
                50px 95px crimson, 
                55px 95px orange,
                60px 95px black,
                65px 95px black,
                70px 95px teal,
                75px 95px teal,
                /* Vigesima camada */
                0px 100px teal, 
                5px 100px teal, 
                10px 100px teal, 
                15px 100px black,
                20px 100px black,
                25px 100px black, 
                30px 100px black, 
                35px 100px black, 
                40px 100px black, 
                45px 100px black,
                50px 100px black, 
                55px 100px black,
                60px 100px black,
                65px 100px teal,
                70px 100px teal,
                75px 100px teal;
                
}
