* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    width: 5px;
    height: 5px;
    background-color: teal;
    box-shadow: 5px 0 teal, 
                10px 0 teal, 
                15px 0 teal, 
                20px 0 teal,
                25px 0 teal, 
                30px 0 black, 
                35px 0 black, 
                40px 0 black, 
                45px 0 black,
                50px 0 teal, 
                55px 0 teal, 
                60px 0 teal, 
                65px 0 teal, 
                70px 0 teal,
                75px 0 teal,
                /* Segunda camada */
                0px 5px teal, 
                5px 5px teal, 
                10px 5px teal, 
                15px 5px teal, 
                20px 5px teal,
                25px 5px black, 
                30px 5px green, 
                35px 5px green, 
                40px 5px greenyellow, 
                45px 5px green,
                50px 5px black, 
                55px 5px black, 
                60px 5px teal, 
                65px 5px teal, 
                70px 5px teal,
                75px 5px teal,
                /* terceira camada */
                0px 10px teal, 
                5px 10px teal, 
                10px 10px teal, 
                15px 10px teal, 
                20px 10px black,
                25px 10px green, 
                30px 10px green, 
                35px 10px greenyellow, 
                40px 10px greenyellow, 
                45px 10px greenyellow,
                50px 10px greenyellow, 
                55px 10px green, 
                60px 10px black, 
                65px 10px teal, 
                70px 10px teal,
                75px 10px teal,
                /* terceira camada */
                0px 15px teal, 
                5px 15px black, 
                10px 15px teal, 
                15px 15px black, 
                20px 15px black,
                25px 15px orange, 
                30px 15px green, 
                35px 15px green, 
                40px 15px greenyellow, 
                45px 15px green,
                50px 15px orange, 
                55px 15px black, 
                60px 15px green, 
                65px 15px black, 
                70px 15px black,
                75px 15px teal,
                /* Quarta camada */
                0px 20px black, 
                5px 20px wheat, 
                10px 20px black, 
                15px 20px palevioletred, 
                20px 20px black,
                25px 20px black, 
                30px 20px orange, 
                35px 20px orange, 
                40px 20px orange, 
                45px 20px orange,
                50px 20px black, 
                55px 20px black, 
                60px 20px green, 
                65px 20px black, 
                70px 20px wheat,
                75px 20px black,
                /* quinta camada */
                0px 25px black, 
                5px 25px wheat, 
                10px 25px black, 
                15px 25px palevioletred, 
                20px 25px palevioletred,
                25px 25px palevioletred, 
                30px 25px black, 
                35px 25px black, 
                40px 25px black, 
                45px 25px black,
                50px 25px palevioletred, 
                55px 25px palevioletred, 
                60px 25px black, 
                65px 25px black, 
                70px 25px wheat,
                75px 25px black,
                /* Sexta camada */
                0px 30px black, 
                5px 30px peru, 
                10px 30px wheat, 
                15px 30px black, 
                20px 30px palevioletred,
                25px 30px palevioletred, 
                30px 30px palevioletred, 
                35px 30px palevioletred, 
                40px 30px palevioletred, 
                45px 30px palevioletred,
                50px 30px palevioletred, 
                55px 30px palevioletred, 
                60px 30px black, 
                65px 30px wheat, 
                70px 30px peru,
                75px 30px black,
                /* Setima camada */
                0px 35px black, 
                5px 35px peru, 
                10px 35px black, 
                15px 35px peru, 
                20px 35px black,
                25px 35px black, 
                30px 35px black, 
                35px 35px black, 
                40px 35px black, 
                45px 35px black,
                50px 35px black, 
                55px 35px black, 
                60px 35px palevioletred, 
                65px 35px black, 
                70px 35px peru,
                75px 35px black,
                /* Oitava camada */
                0px 40px teal, 
                5px 40px black, 
                10px 40px peru, 
                15px 40px black, 
                20px 40px peru,
                25px 40px whitesmoke, 
                30px 40px whitesmoke, 
                35px 40px peru, 
                40px 40px peru, 
                45px 40px whitesmoke,
                50px 40px whitesmoke, 
                55px 40px peru, 
                60px 40px black, 
                65px 40px peru, 
                70px 40px black,
                75px 40px teal,
                /* nona camada */
                0px 45px teal, 
                5px 45px teal, 
                10px 45px black, 
                15px 45px peru, 
                20px 45px peru,
                25px 45px whitesmoke, 
                30px 45px black, 
                35px 45px wheat, 
                40px 45px wheat, 
                45px 45px black,
                50px 45px whitesmoke, 
                55px 45px peru,
                60px 45px peru,
                65px 45px black,
                70px 45px teal,
                75px 45px teal,
                /* Decima camada */
                0px 50px teal, 
                5px 50px teal, 
                10px 50px black, 
                15px 50px black,
                20px 50px peru,
                25px 50px wheat, 
                30px 50px black, 
                35px 50px wheat, 
                40px 50px wheat, 
                45px 50px black,
                50px 50px wheat, 
                55px 50px peru,
                60px 50px black,
                65px 50px black,
                70px 50px teal,
                75px 50px teal,
                /* Decima camada */
                0px 55px teal, 
                5px 55px black, 
                10px 55px teal, 
                15px 55px teal,
                20px 55px black,
                25px 55px peru, 
                30px 55px black, 
                35px 55px wheat, 
                40px 55px wheat, 
                45px 55px wheat,
                50px 55px peru, 
                55px 55px black,
                60px 55px green,
                65px 55px greenyellow,
                70px 55px black,
                75px 55px teal,
                /* Decima Primeira camada */
                0px 60px black, 
                5px 60px whitesmoke, 
                10px 60px black, 
                15px 60px black,
                20px 60px black,
                25px 60px black, 
                30px 60px whitesmoke, 
                35px 60px black, 
                40px 60px peru, 
                45px 60px black,
                50px 60px black, 
                55px 60px green,
                60px 60px green,
                65px 60px black,
                70px 60px peru,
                75px 60px black,
                /* Decima Segunda camada */
                0px 65px black, 
                5px 65px whitesmoke, 
                10px 65px whitesmoke, 
                15px 65px whitesmoke,
                20px 65px whitesmoke,
                25px 65px whitesmoke, 
                30px 65px whitesmoke, 
                35px 65px black, 
                40px 65px black, 
                45px 65px green,
                50px 65px greenyellow, 
                55px 65px green,
                60px 65px black,
                65px 65px peru,
                70px 65px peru,
                75px 65px black;
                
}
