* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: grid;
    place-items: center;
}

.pikachu {
    width: 100px;
    height: 100px;
    background-color: #fdd921;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.pikachu::before {
    content: "";
    width: 100%;
    height: 50%;
    border: 30px solid #11111140;
    border-top: unset;
    border-radius: 0 0 500px 500px;
    position: absolute;
    bottom: -10px;
    left: -25px;
    z-index: 10;
    filter: blur(10px);
}

.pikachu:after {
    content: "";
    width: 40px;
    height: 10px;
    position: absolute;
    top: 20px;
    rotate: -45deg;
    border-radius: 50%;
    border-top: 5px solid #f5f5f570;
}

.pikachu .eyes .eye {
    width: 15px;
    height: 15px;
    background-color: #111;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 30px;
    left: 20px;
}

.pikachu .eyes .eye::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 50%;
    left: 20%;
    top: 2px;
}

.pikachu .eyes .eye::after {
    content: "";
    width: 5px;
    height: 2px;
    position: absolute;
    bottom: 1.5px;
    left: 3.5px;
    border-left: 2px solid #684714;
    border-right: 2px solid #684714;
    border-bottom: 2px solid #684714;
    border-radius: 0 0 20px 20px;
}

.pikachu .eyes .eye:last-child {
    left: unset;
    right: 20px;
}

.pikachu .nose {
    width: 7px;
    height: 7px;
    background-color: #111;
    position: absolute;
    margin: auto;
    inset: 0;
    bottom: 10px;
    border-radius: 20px 0 0 0 ;
    rotate: 45deg;
}

.pikachu .mouth {
    width: 30px;
    height: 10px;
    position: absolute;
    margin: auto;
    inset: 0;
    bottom: -15px;
}

.pikachu .mouth::before,
.pikachu .mouth::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid #111;
    border-top: unset;
    border-right: unset;
    border-radius: 0 0 0 100px;
    transform: rotate(-45deg);
    left: 2px;
}

.pikachu .mouth::after {
    left: unset;
    right: 2px;
}

.pikachu .cheeks .cheek {
    width: 20px;
    height: 20px;
    background-color: #f13913;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 2px;
}

.pikachu .cheeks .cheek:last-child {
    left: unset;
right: 2px;
}