* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #f8f88d;
}

.popsicle {
    width: 300px;
    height: 500px;
    position: relative;
}

.popsicle .body {
    width: inherit;
    height: 450px;
    background-color: #f284b5;
    border-radius: 50% 50% 40px 40px /40%40% 40px 40px;
    box-shadow: inset 0 10px #f5f5f540;
}

.popsicle .body::before {
    content: "";
    width: 50px;
    height: 100px;
    background-color: #f5f5f540;
    position: absolute;
    top: 50px;
    right: 40px;
    transform: rotate(-40deg);
    border-radius: 50%;
}

.popsicle .body .eyes .eye {
    width: 25px;
    height: 25px;
    background-color: #ed3592;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: -150px;
    border-radius: 50%;
}

.popsicle .body .eyes .eye:first-child {
    left: 60px;
}
.popsicle .body .eyes .eye:last-child {
    right: 60px;
}

.popsicle .body .eyes .eye:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #f5f5f5;
    position: absolute;
    margin: auto;
    inset: 0;
    top: -10px;
    border-radius: 50%;
}

.popsicle .body .mouth {
    width: 80px;
    height: 30px;
    background-color: #ed3592;
    position: absolute;
    margin: auto;
    inset: 0;
    bottom: -240px;
    border-radius: 13% 10% 36% 35% / 24% 22% 50% 50%;
}

.popsicle .stick {
    width: 80px;
    height: 140px;
    background-color: #eca97c;
    border-radius: 0 0 50% 50% / 0 0 30% 30%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -50px;
    z-index: -1;
    box-shadow: inset 0 50px #11111120;
}
